<h2><strong>{{ settings.module }}</strong></h2>
<p><span></span></p>
<div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
        <li>
            <a href="#/">Inicio</a>
        </li>
        <li>
            <a href="#/{{settings.action}}">{{ settings.module }}</a>
        </li>
        <li class="active">{{ settings.title }}</li>
    </ol>
</div>
