<a ng-if="settings.title == 'Editar' || settings.title == 'Listado'" href="#/roles/create" tooltip-placement="bottom" tooltip="Nuevo">
    <i class="icon-plus"></i>
</a>
<a ng-if="rolesSelected.length == 1 && settings.title == 'Listado'" href="#/roles/edit/{{rolesSelected[0].id}}" tooltip-placement="bottom" tooltip="Editar">
    <i class="fa fa-pencil"></i>
</a>
<a ng-if="settings.title !== 'listado'" href="#/{{settings.action}}" tooltip-placement="bottom" tooltip="Listado">
    <i class="fa fa-table"></i>
</a>
<a ng-click="remove()" tooltip-placement="bottom" tooltip="Eliminar" ng-if="rolesSelected.length">
    <i class="icon-trash"></i>
</a>
