
<div class="header" ng-include="'md-layout/angularjs/app/_partials/breadcrumb.html'"></div>
<div class="panel">
<div class="panel-header bg-green">
    <div class="row">
        <div class="col-md-10">
            <h3><i class="fa fa-table"></i>{{ settings.title }}</h3>
        </div>
        <div class="2">
            <div class="control-btn">
                <a href="#/{{ settings.action }}/create" tooltip-placement="bottom" tooltip="Nuevo">
                    <i class="icon-plus"></i>
                </a>
                <a href="#/{{ settings.action }}/agreements/companies/pdf/{{agreementsSelected[0].id}}" tooltip-placement="bottom" tooltip="Descargar PDF" ng-if="agreementsSelected.length == 1">
                    <i class="fa fa-file-pdf-o"></i>
                </a>
                <a class="panel-reload" tooltip-placement="bottom" tooltip="Recargar" ng-click="tableParams.reload()">
                    <i class="icon-reload"></i>
                </a>
                <a href="#" class="panel-maximize" tooltip-placement="bottom" tooltip="Maximizar">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel-content pagination2 table-responsive">
    <div class="row">
        <div class="col col-lg-4">
            <input type="text"  name="buscar" ng-model="buscar" ng-keypress="filter()" class="form-control" placeholder="Ingrese una palabra a buscar">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right"> Mostrando desde {{start}} hasta {{end}} de {{total}} registros</div>
            <table ng-table="tableParams" class="table table table-hover dataTable">
                 <tr ng-repeat="agreements in $data" id="{{agreements.name_row}}" ng-dblclick="viewAgreement(agreements.id)" ng-click="selecteRow(agreements.name_row, agreements.id)">
                     <td data-title="'Empresa'" sortable="'company'">
                        {{agreements.company}}
                    </td>
                    <td data-title="'Vendedor'" sortable="'seller'">
                        {{agreements.seller}}
                    </td>
                    <td data-title="'Fecha'" sortable="'date'">
                        {{agreements.date}}
                    </td>
                    <td data-title="'Monto'" sortable="'amount'">
                        {{agreements.amount}}
                    </td>
                    <td data-title="'Estatus'" sortable="'mstatus'">
                        <label ng-if="agreements.mstatus == 7" class="label label-success"> Activo</label>
                        <label ng-if="agreements.mstatus == 8" class="label label-warning"> Vencido</label>
                        <label ng-if="agreements.mstatus == 9" class="label label-dangery"> Inactivo</label>
                        <label ng-if="agreements.mstatus == 104" class="label label-info"> Anulado</label>
                    </td>
                    <td data-title="'Acciones'" class="text-right">
                        <button ng-if="agreements.mstatus !== 104" class="delete btn btn-sm btn-warning" ng-click="annullar(agreements.id)" data-rel="tooltip" tooltip-placement="right" tooltip="Anular Contrato" data-original-title="">
                            <i class="fa fa-minus"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

<button type="button" class="btn btn-primary btn-xs hidden" id="btnmodal" data-toggle="modal"
                        data-target="#myModal"></button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Contrato Nro {{customer.agreement}] </h4>
            </div>
            <div class="modal-body">
                <div ng-include="'md-layout/angularjs/app/customers/partials/_agreement_customer.html'"></div>
            </div>
        </div>
    </div>
</div>