<div class="header" ng-include="'md-layout/angularjs/app/_partials/breadcrumb.html'"></div>
<div class="panel">
    <div class="panel-header">
        <div class="row">
            <div class="col-md-10">
                <h3><i class="mdi-content-add"></i>{{ settings.title }}</h3>
            </div>
            <div class="2">
                <div class="control-btn">
                    <a ng-if="settings.title == 'Editar'" href="#/{{ settings.action }}/create" tooltip-placement="bottom" tooltip="Nuevo">
                        <i class="icon-plus"></i>
                    </a>
                    <a href="#/{{ settings.action }}" tooltip-placement="bottom" tooltip="Listado">
                        <i class="fa fa-table"></i>
                    </a>
                    <a tooltip-placement="bottom" tooltip="Recargar" ng-click="refresh()">
                        <i class="icon-reload"></i>
                    </a>
                    <a href="#" class="panel-maximize" tooltip-placement="bottom" tooltip="Maximizar">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <form name="formAgreements" ng-model="formAgreements" id="formAgreements">
                    <div class="row">
                        <section class="col col-lg-9">
                            <div class="form-group m-b-30">
                                <p class="col-sm-1 control-label"> Empresa</p>
                                <div class="col-lg-12">
                                    <input type="hidden" class="form-control form-white" style="width:100%" name="company" ui-select2="arrayAsync" ng-model="agreement.company" ng-required="true">
                                    <div ng-messages="formAgreements.company.$error" class="form-error" role="alert">
                                        <div ng-message="required"> La empresa es requerida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col col-lg-3 m-b-30">
                                <p> Frecuencia de Facturación</p>
                                <select id="frecuencies" name="frecuency" ng-model="agreement.frecuency" class="form-control form-white">
                                    <option  ng-repeat="f in frecuencies" value="{{f.id}}" ng-selected="{{ f.id ==  selectedFrecuency}}">{{f.description}}</option>
                                </select>
                            </div>
                            <div class="form-group col col-lg-3 m-b-30">
                                <p> Número Tope de Clientes</p>
                                <input  type="text" name="tope_n_customers" ng-model="agreement.tope_n_customers" ng-required="true" ng-change="changeTope()"
                                ng-pattern="/[0-9]/" ng-maxlength="3" class="form-control">
                                <div ng-messages="formAgreements.tope_n_customers.$error" class="form-error" role="alert">
                                    <div ng-message="required"> Numero tope de clientes es requerida</div>
                                    <div ng-message="pattern"> Solo se permiten numeros enteros</div>
                                    <div ng-message="maxlength"> El digito insgresado es muy largo</div>

                                </div>
                            </div>
                            <div class="form-group col-lg-3 m-b-40">
                                <p> Fecha</p>
                                <input type="text" name="date" id="date" ng-model="agreement.date"class="form-control"
                                       ng-required="true"
                                       >

                                <div ng-messages="formAgreements.date.$error" class="form-error" role="alert">
                                    <div ng-message="required"> La Fecha es requerida</div>
                                    <div ng-message="pattern"> Formato de fecha incorrecta</div>
                                </div>
                            </div>
                            <div class="form-group col-lg-3 m-b-40">
                                <p> Tipo de Venta</p>
                                <select id="type_sale" name="type_sale" ng-model="agreement.type_sale"  ng-required="true" class="form-control form-white">
                                    <option value="0" ng-selected="true" ng-required="true">Seleccione un tipo</option>
                                    <option  ng-repeat="ts in type_sales" value="{{ts.id}}" ng-selected="{{ ts.id ==  selectedTypeSales}}">{{ts.description}}</option>
                                </select>
                                <div ng-messages="formAgreements.type_sale.$error" class="form-error" role="alert">
                                    <div ng-message="required"> Tipo de Venta es requerido</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <p>Estatus</p>
                                    <input type="checkbox" name="mstatus" id="mstatus" class="js-switch" checked/>
                                    <br>
                                </div>
                            </div>
                        </section>
                        <section class="col col-lg-3">
                            <fieldset>
                                <legend>Monto</legend>
                                <table>
                                    <tr>
                                        <td style="padding: 20px 20px 20px 20px;">Base:</td>
                                        <td style="padding: 20px 20px 20px 20px;"><label class="label label-info">{{base}}</label></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 20px 20px 20px 20px;">Impuesto:</td>
                                        <td style="padding: 20px 20px 20px 20px;"><label class="label label-danger" >{{ tax = (base*12)/100 }}</label></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 20px 20px 20px 20px;">Total:</td>
                                        <td style="padding: 20px 20px 20px 20px;"><label class="label label-success" >{{ total = base + tax }}</label></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </section>
                    </div>
                    <hr>
                    <div class="row">
                        <fieldset>
                            <legend><h3>Menús</h3></legend>
                            <div class="col col-lg-12">
                                <div class="alert alert-warning">
                                    <p> Usted debe seleccionar al menos una opción de menú y obligatoriamente la opcion de usuarios master!</p>
                                </div>
                            </div>
                            <div class="col col-lg-3">
                                <fieldset>
                                    <legend>Activaciones:</legend>
                                    <select class="form-control form-white" id="activations" ng-model="agreement.activations" ng-change="chengeMenus('activations')">
                                        <option value="0" ng-selected="true">Seleccione una opcion</option>
                                        <option  ng-repeat="a in activations" value="{{a.id}}"  ng-selected="{{ a.id ==  selectedActivation}}">Activaciones( {{a.tope_n_customers}} clientes )</option>
                                    </select>
                                    <p class="center"><label ng-if="agreement.activations > 0" class="label label-blue ng-binding">{{montoAct}}</label></p>
                                </fieldset>
                            </div>
                            <div class="col col-lg-3">
                                <fieldset>
                                    <legend>Inspecciones:</legend>
                                    <select class="form-control form-white" id="inspections" ng-model="agreement.inspections" ng-change="chengeMenus('inspections')">
                                        <option value="0" ng-selected="true">Seleccione una opcion</option>
                                        <option  ng-repeat="i in inspections" value="{{i.id}}" ng-selected="{{ i.id ==  selectedInspection}}">Inspecciones( {{i.tope_n_customers}} clientes )</option>
                                    </select>
                                    <p class="center"><label ng-if="agreement.inspections > 0" class="label label-blue ng-binding">{{montoInsp}}</label></p>
                                </fieldset>
                            </div>
                            <div class="col col-lg-3">
                                <fieldset>
                                    <legend>Instalaciones:</legend>
                                    <select class="form-control form-white" id="installations" ng-model="agreement.installations" ng-change="chengeMenus('installations')">
                                        <option value="0" ng-selected="true">Seleccione una opcion</option>
                                        <option  ng-repeat="it in installations" value="{{it.id}}" ng-selected="{{ it.id ==  selectedInstallation}}">Instalaciones( {{it.tope_n_customers}} clientes )</option>
                                    </select>
                                    <p class="center"><label ng-if="agreement.installations > 0" class="label label-blue ng-binding">{{montoInst}}</label></p>
                                </fieldset>
                            </div>
                            <div class="col col-lg-3">
                                <fieldset>
                                    <legend>Usuarios Master:</legend>
                                    <select class="form-control form-white" id="users" ng-model="agreement.users" name="users" ng-change="chengeMenus('users')">
                                        <option value="0" ng-selected="true">Seleccione una opcion</option>
                                        <option  ng-repeat="u in users" value="{{u.id}}" ng-selected="{{ u.id ==  selectedUser}}"> ( {{u.quantity}} usuarios )</option>
                                    </select>
                                    <p class="center"><label ng-if="agreement.users > 0" class="label label-blue ng-binding col-lg-pull-1">{{montoUsers}}</label></p>
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset>
                            <legend><h3>Notificaciones</h3></legend>
                            <div class="col col-lg-4">
                                <fieldset>
                                    <legend>SMS:</legend>

                                    <select class="form-control form-white" id="sms" name="sms" ng-model="agreement.sms" ng-change="changeServices('sms')">
                                        <option  ng-repeat="sm in sms" value="{{sm.id}}"  ng-selected="{{ sm.id ==  selectedSms}}">SMS ( {{sm.tope_n_customers}} clientes ) - {{sm.amount}}</option>
                                    </select><br><br>
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <td>Cantidad SMS:</td>
                                            <td><label class="label label-primary">{{qSms}}</label></td>
                                        </tr>
                                        <tr>
                                            <td> Periodo Disfrute:</td>
                                            <td><label class="label label-info">{{fSms}}</label></td>
                                        </tr>
                                        <tr>
                                            <td>Costo:</td>
                                            <td><label class="label label-blue">{{aSms}}</label></td>
                                        </tr>
                                    </table>
                                    <input type="checkbox" ng-model="agreement.smscheck" id="smscheck" ng-change="selectedPackage({{sms}},'sms','smscheck')"> Incluir
                                </fieldset>
                            </div>
                            <div class="col col-lg-4">
                                <fieldset>
                                    <legend>Correos:</legend>
                                    <select class="form-control form-white" id="mail" ng-model="agreement.mail" ng-change="changeServices('mail')">
                                        <option  ng-repeat="e in mails"  value="{{e.id}}" ng-selected="{{ e.id ==  selectedMail}}">Correos  ( {{e.tope_n_customers}} clientes ) - {{e.amount}}</option>
                                    </select><br><br>
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <td>Cantidad Correos:</td>
                                            <td><label class="label label-primary">{{qMail}}</label></td>
                                        </tr>
                                        <tr>
                                            <td> Periodo Disfrute:</td>
                                            <td><label class="label label-info">{{fMail}}</label></td>
                                        </tr>
                                        <tr>
                                            <td>Costo:</td>
                                            <td><label class="label label-blue">{{aMail}}</label></td>
                                        </tr>
                                    </table>
                                    <input type="checkbox" ng-model="agreement.mailcheck" id="mailcheck" ng-change="selectedPackage({{mails}},'mail','mailcheck')"> Incluir
                                </fieldset>
                            </div>
                            <div class="col col-lg-4">
                                <fieldset>
                                    <legend>Push:</legend>
                                    <select class="form-control form-white" id="push" ng-model="agreement.push" ng-change="changeServices('push')">
                                        <option  ng-repeat="p in pushs"  value="{{p.id}}"  ng-selected="{{ p.id ==  selectedPush}}">Push  ( {{p.tope_n_customers}} clientes ) - {{p.amount}} </option>
                                    </select><br><br>
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <td>Cantidad Push:</td>
                                            <td><label class="label label-primary">{{qPush}}</label></td>
                                        </tr>
                                        <tr>
                                            <td> Periodo Disfrute:</td>
                                            <td><label class="label label-info">{{fPush}}</label></td>
                                        </tr>
                                        <tr>
                                            <td>Costo:</td>
                                            <td><label class="label label-blue">{{aPush}}</label></td>
                                        </tr>
                                    </table>
                                    <input type="checkbox" ng-model="agreement.pushcheck" id="pushcheck" ng-change="selectedPackage({{pushs}},'push','pushcheck')"> Incluir
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row m-b-30">
                        <fieldset>
                            <legend><h3>Otros Servicios</h3></legend>
                            <div class="col col-lg-4">
                                <fieldset>
                                    <legend>Dipositivos Autorizados:</legend>
                                    <select  class="form-control form-white" id="device" name="device" ng-model="agreement.device" ng-change="changeServices('device')">
                                        <option  ng-repeat="d in devices" value="{{d.id}}" ng-selected="{{ d.id ==  selectedDivice}}"> {{d.quantity}} SmartPhone ( {{ d.tope_n_customers}} clientes ) - {{d.amount}}</option>
                                    </select><br><br>
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <td>Telef Autorizados:</td>
                                            <td><label class="label label-primary quantity">{{qDevice}}</label></td>
                                        </tr>
                                        <tr>
                                            <td> Periodo Disfrute:</td>
                                            <td><label class="label label-info frecuency">{{fDevice}}</label></td>
                                        </tr>
                                        <tr>
                                            <td>Costo:</td>
                                            <td><label class="label label-blue amount">{{aDevice}}</label></td>
                                        </tr>
                                    </table>
                                    <input type="checkbox" ng-model="agreement.devcheck" id="devcheck" ng-change="selectedPackage({{devices}},'device','devcheck')"> Incluir
                                </fieldset>
                            </div>
                            <div class="col col-lg-4">
                                <fieldset>
                                    <legend>Acceso Web Clientes:</legend>
                                    <select class="form-control form-white" id="wa" ng-model="agreement.wa" ng-change="changeServices('wa')">
                                        <option  ng-repeat="aw in web_access" value="{{aw.id}}"  ng-selected="{{ aw.id ==  selectedWA}}"> Acceso Web ( {{ aw.tope_n_customers}} clientes ) - {{aw.amount}}</option>
                                    </select><br><br>
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <td>Clientes Autorizados:</td>
                                            <td><label class="label label-primary quantity">{{qWa}}</label></td>
                                        </tr>
                                        <tr>
                                            <td> Periodo Disfrute:</td>
                                            <td><label class="label label-info frecuency">{{fWa}}</label></td>
                                        </tr>
                                        <tr>
                                            <td>Costo:</td>
                                            <td><label class="label label-blue amount">{{aWa}}</label></td>
                                        </tr>
                                    </table>
                                    <input type="checkbox" ng-model="agreement.awebcheck" id="awebcheck" ng-change="selectedPackage({{web_access}},'wa','awebcheck')"> Incluir
                                </fieldset>
                            </div>
                            <div class="col col-lg-4">
                                <fieldset>
                                    <legend>Soporte Técnico:</legend>
                                    <select class="form-control form-white" id="st" name="st" ng-model="agreement.st" ng-change="changeServices('st')">
                                        <option  ng-repeat="st in suport" value="{{st.id}}" ng-selected="{{ st.id ==  selectedST}}"> Soporte Técnico ( {{ st.tope_n_customers}} clientes ) - {{st.amount}}</option>
                                    </select><br><br>
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <td>Clientes Autorizados:</td>
                                            <td><label class="label label-primary quantity">{{qSt}}</label></td>
                                        </tr>
                                        <tr>
                                            <td> Periodo Disfrute:</td>
                                            <td><label class="label label-info frecuency">{{fSt}}</label></td>
                                        </tr>
                                        <tr>
                                            <td>Costo:</td>
                                            <td><label class="label label-blue amount">{{aSt}}</label></td>
                                        </tr>
                                    </table>
                                    <input type="checkbox" ng-model="agreement.stcheck" id="stcheck" ng-change="selectedPackage({{suport}},'st','stcheck')"> Incluir
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group pull-right">
                        <button type="button" ng-class="{'btn btn-success': settings.title == 'Nuevo', 'btn btn-primary': settings.title == 'Editar', 'btn-default' : !formAgreements.$valid}" ng-click="submit(agreement)" ng-disabled="!formAgreements.$valid">
                            <i class="fa fa-save"></i> Guardar</button>
                        <button type="button" ng-click="refresh()" class="btn btn-default"><i class="fa fa-refresh"></i>Cancelar</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>