<div class="header" ng-include="'md-layout/angularjs/app/_partials/breadcrumb.html'"></div>
<div class="panel">
    <div class="panel-header">
        <div class="row">
            <div class="col-md-10">
                <h3><i class="mdi-content-add"></i>{{ settings.title }}</h3>
            </div>
            <div class="2">
                <div class="control-btn">
                    <a ng-if="settings.title == 'Editar'" href="#/{{ settings.action }}/create" tooltip-placement="bottom" tooltip="Nuevo">
                        <i class="icon-plus"></i>
                    </a>
                    <a href="#/{{ settings.action }}" tooltip-placement="bottom" tooltip="Listado">
                        <i class="fa fa-table"></i>
                    </a>
                    <a tooltip-placement="bottom" tooltip="Recargar" ng-click="refresh()">
                        <i class="icon-reload"></i>
                    </a>
                    <a href="#" class="panel-maximize" tooltip-placement="bottom" tooltip="Maximizar">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <form name="formCustomerAgreement" ng-model="formCustomerAgreement" id="formCustomerAgreement">
                    <div class="row">
                        <section class="col col-lg-6">
                            <p class="control-label"> Cliente </p>
                            <input type="hidden" id="customer" style="width:100%" name="customer" ui-select2="arrayAsync" class="form-control"
                                   ng-model="agreement.customer" ng-required="true">
                            <div ng-messages="formCustomerAgreement.customer.$error" class="form-error" role="alert">
                                <div ng-message="required"> Cliente es requerido</div>
                            </div>
                        </section>
                        <section class="col col-lg-6">

                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-11">
                            <strong>Planes</strong>
                        </section>
                        <section class="col col-lg-1">
                            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-primary"
                                    data-toggle="modal" data-target="#myModal" data-rel="tooltip" tooltip-placement="top"
                                    tooltip="Seleccionar Plan"><i class="fa fa-plus"></i></button>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Plan</th>
                                    <th>Turno</th>
                                    <th>Visitas</th>
                                    <th>Precio</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="plan in planes">
                                    <th>{{plan.name}}</th>
                                    <td>
                                        <label ng-if="plan.inning == 15" class="label label-primary"> Diurno</label>
                                        <label ng-if="plan.inning == 16" class="label label-info"> Nocturno</label>
                                    </td>
                                    <td>{{plan.number_visit}}</td>
                                    <td class="text-right">{{plan.amount}}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-icon btn-rounded btn-danger"
                                                ng-click="removePlan($index,{{plan}})" data-rel="tooltip" tooltip-placement="top"
                                                tooltip="Quitar Plan" ><i class="fa fa-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="monto > 0" class="info">
                                    <td class="text-right" colspan="3">Sub Total</td>
                                    <td class="text-right">{{monto}}</td>
                                    <td></td>
                                </tr>
                                <tr ng-if="monto > 0" class="warning">
                                    <td class="text-right" colspan="3">Impuesto</td>
                                    <td class="text-right">{{ ((monto*tax)/100) }}</td>
                                    <td></td>
                                </tr>
                                <tr ng-if="monto > 0" class="success">
                                    <td class="text-right" colspan="3">Monto Total</td>
                                    <td class="text-right"> {{ ((monto*tax)/100) + monto }}</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-11">
                            <strong>Empresas de Seguridad</strong>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-5">
                            <input type="hidden" style="width:100%" name="companies" ui-select2="arrayAsyncCompanies" class="form-control"
                                   ng-model="agreement.companies">
                        </section>
                        <section class="col col-lg-1">
                            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-primary"
                                    ng-click="addCompany(agreement.companies)" data-rel="tooltip" tooltip-placement="top"
                                    tooltip="Seleccionar Empresa"><i class="fa fa-plus"></i></button>
                        </section>
                        <section class="col col-lg-6">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th colspan="2">Empresas</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="security in securityCompanies">
                                    <th>{{security.text}}</th>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-icon btn-rounded btn-danger"
                                                ng-click="removeCompany($index)" data-rel="tooltip" tooltip-placement="top"
                                                tooltip="Quitar Empresa" ><i class="fa fa-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-12">
                            <strong>Localización</strong>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-6">
                            <p> País</p>
                            <select id="country" name="country" ng-change="getStates()" ng-model="agreement.country" class="form-control form-white"
                                    ng-required="true">
                                <option ng-if="create" value="-1" ng-selected="true">Seleccione un País</option>
                                <option ng-repeat="c in countries" value="{{c.id}}" ng-selected="c.id == agreement.country">{{c.name}}
                                </option>
                            </select>
                            <div ng-messages="formCustomerAgreement.country.$error" class="form-error" role="alert">
                                <div ng-message="required"> País es requerido</div>
                            </div>
                        </section>
                        <section class="col col-lg-6">
                            <p> Estado </p>
                            <select id="states" name="states" ng-change="getTowns()" ng-disabled="agreement.country == -1"
                                    ng-model="agreement.states"
                                    class="form-control form-white"
                                    ng-required="true">
                                <option ng-if="create" value="-1" ng-selected="true">Seleccione un Estado</option>
                                <option ng-repeat="s in states" value="{{s.id}}" ng-selected="s.id == agreement.states"> {{s.name}}
                                </option>
                            </select>
                            <div ng-messages="formCustomerAgreement.states.$error" class="form-error" role="alert">
                                <div ng-message="required"> Estado es requerido</div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-6">
                            <p> Municipio</p>
                            <select id="town" name="town" ng-change="getParishs()" ng-disabled="agreement.states == -1"
                                    ng-model="agreement.town"
                                    class="form-control form-white"
                                    ng-required="true">
                                <option ng-if="create" value="-1" ng-selected="true">Seleccione un Municipio</option>
                                <option ng-repeat="t in towns" value="{{t.id}}" ng-selected="t.id == agreement.town"> {{t.name}}</option>
                            </select>
                            <div ng-messages="formCustomerAgreement.town.$error" class="form-error" role="alert">
                                <div ng-message="required"> Municipio es requerido</div>
                            </div>
                        </section>
                        <section class="col col-lg-6">
                            <label> Parroquia</label>
                            <select id="parish" name="parish" ng-model="agreement.parish" ng-disabled="agreement.town == -1"
                                    class="form-control form-white"
                                    ng-required="true">
                                <option ng-if="create" value="-1" ng-selected="true">Seleccione una Parroquia</option>
                                <option ng-repeat="p in parishs" value="{{p.id}}" ng-selected="p.id == agreement.parish"> {{p.name}}
                                </option>
                            </select>
                            <div ng-messages="formCustomerAgreement.parish.$error" class="form-error" role="alert">
                                <div ng-message="required"> Parroquia es requerido</div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-12">
                            <label>Dirección: </label>
                            <input type="text" name="address" id="address" class="form-control"
                                   ng-model="agreement.address" ng-required="true" ng-minlength="3"
                                   ng-autocomplete options="options" details="details" placeholder="Busque aquí su ubicación!">
                            <div ng-messages="formCustomerAgreement.address.$error" class="form-error" menu="alert">
                                <div ng-message="required"> Dirección es requerida</div>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="geocoding(Company.address)"> Ir en el
                                mapa </i></button>
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                                                idkey="marker.id">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </section>
                    </div>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Planes</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-info">
                                        Haga doblick en el plan para agregarlo al contrato
                                    </div>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Plan</th>
                                            <th>Turno</th>
                                            <th>Visitas</th>
                                            <th>Precio</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-dblclick="addPlan(service.id,service.name,service.inning,service.number_visit,service.amount,$index)"
                                            ng-repeat="service in services">
                                            <th scope="row">{{service.name}}</th>
                                            <td>
                                                <label ng-if="service.inning == 15" class="label label-primary"> Diurno</label>
                                                <label ng-if="service.inning == 16" class="label label-info"> Nocturno</label>
                                            </td>
                                            <td>{{service.number_visit}}</td>
                                            <td>{{service.amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="button" ng-class="{'btn btn-success': settings.title == 'Nuevo', 'btn btn-primary': settings.title == 'Editar', 'btn-default' : !formCustomerAgreement.$valid}" ng-click="submit(agreement)" ng-disabled="!formCustomerAgreement.$valid">
                            <i class="fa fa-save"></i> Guardar</button>
                        <button type="button" ng-click="refresh()" class="btn btn-default"><i class="fa fa-refresh"></i>Cancelar</a></button>
                    </div>
                </form>
                <style>.angular-google-map-container {
                    height: 300px;
                }</style>
            </div>
        </div>
    </div>
</div>