<div class="header" ng-include="'md-layout/angularjs/app/_partials/breadcrumb.html'"></div>
<div class="panel">
    <div class="panel-header">
        <div class="row">
            <div class="col-md-10">
                <h3><i class="mdi-content-add"></i>{{ settings.title }}</h3>
            </div>
            <div class="2">
                <div class="control-btn">
                    <a ng-if="settings.title == 'Editar'" href="#/roles/create" tooltip-placement="bottom" tooltip="Nuevo">
                        <i class="icon-plus"></i>
                    </a>
                    <a href="#/roles" tooltip-placement="bottom" tooltip="Listado">
                        <i class="fa fa-table"></i>
                    </a>
                    <a tooltip-placement="bottom" tooltip="Recargar" ng-click="refresh()">
                        <i class="icon-reload"></i>
                    </a>
                    <a href="#" class="panel-maximize" tooltip-placement="bottom" tooltip="Maximizar">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <form name="formRole" ng-model="formRole" id="formRole">
                    <div class="form-group  m-b-30">
                        <p>Nombre </p>
                        <input type="text" name="name" class="form-control" placeholder="Nombre"
                               ng-model="role.name"
                               ng-required="true"
                               ng-minlength="3"
                               ng-maxlenght="45"
                               ng-pattern="/^[a-z A-Z]*$/">
                        <div ng-messages="formRole.name.$error" class="form-error" role="alert">
                            <div ng-message="required"> Nombre es requerido</div>
                            <div ng-message="minlength"> Nombre es muy corto</div>
                            <div ng-message="maxlength"> Nombre es demasiado largo</div>
                            <div ng-message="pattern"> El Nombre no puede tener números o caractéres especiales</div>
                        </div>
                    </div>
                    <div class="form-group  m-b-30">
                        <p>Slug</p>
                        <input type="text" name="slug" class="form-control" placeholder="Slug"
                               ng-model="role.slug"
                               ng-required="true"
                               ng-minlength="3"
                               ng-maxlenght="45"
                               ng-pattern="/^[a-zA-Z_-]*$/">

                        <div ng-messages="formRole.slug.$error" class="form-error" role="alert">
                            <div ng-message="required"> Slug es requerido</div>
                            <div ng-message="minlength"> Slug es muy corto</div>
                            <div ng-message="maxlength"> Slug es demasiado largo</div>
                            <div ng-message="pattern"> Slug no permite caractéres especiales ni espacios en  blanco</div>
                        </div>
                    </div>
                    <div class="form-group m-b-30">
                        <p>Descripción</p>
                        <textarea ng-model="role.description" class="form-control" placeholder="Descripción"></textarea>
                    </div>
                    <div class="form-group m-b-30">
                        <label>Level</label>
                        <select id="selectLevel" name="level" ng-model="role.level" data-search="true" class="form-control form-white" ng-required="true">
                            <option value="">Seleccione un nivel </option>
                            <option ng-repeat="c in items" value="{{c.id}}">{{c.name}}</option>
                        </select>
                        <div ng-messages="formRole.level.$error" class="form-error" role="alert">
                            <div ng-message="required"> Nivel es requerido</div>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="button" ng-class="{'btn btn-success': settings.title == 'Nuevo', 'btn btn-primary': settings.title == 'Editar', 'btn-default' : !formRole.$valid}" ng-click="submit(role)" ng-disabled="!formRole.$valid">
                            <i class="fa fa-save"></i> Guardar</button>
                        <button type="button" ng-click="refresh()" class="btn btn-default"><i class="fa fa-refresh"></i>Cancelar</a></button>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>