<div class="header" ng-include="'md-layout/angularjs/app/_partials/breadcrumb.html'"></div>
<div class="panel">
<div class="panel-header">
    <div class="row">
        <div class="col-md-10">
            <h3><i class="fa fa-table"></i>{{ settings.title }}</h3>
        </div>
        <div class="2">
            <div class="control-btn">
                <a href="#/roles/create" tooltip-placement="bottom" tooltip="Nuevo">
                    <i class="icon-plus"></i>
                </a>
                <a href="#/roles/edit/{{rolesSelected[0].id}}" tooltip-placement="bottom" tooltip="Editar" ng-if="rolesSelected.length == 1">
                    <i class="fa fa-pencil"></i>
                </a>
                <a ng-click="remove()" tooltip-placement="bottom" tooltip="Eliminar" ng-if="rolesSelected.length">
                    <i class="icon-trash"></i>
                </a>
                <a class="panel-reload" tooltip-placement="bottom" tooltip="Recargar" ng-click="tableParams.reload()">
                    <i class="icon-reload"></i>
                </a>
                <a href="#" class="panel-maximize" tooltip-placement="bottom" tooltip="Maximizar">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel-content pagination2 table-responsive">
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="buscar" ng-model="buscar" placeholder="Buscar" class="form-control" ng-keyup="filter()">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right"> Mostrando desde {{start}} hasta {{end}} de {{total}} registros</div>
            <table ng-table="tableParams" class="table table table-hover dataTable">
                <tr ng-repeat="role in $data" id="{{role.slug}}" ng-dblclick="edit(role.id)" ng-click="selecteRow(role.slug, role.id)">
                    <td data-title="'Name'" sortable="'name'">
                        {{role.name}}
                    </td>
                    <td data-title="'Slug'" sortable="'slug'">
                        {{role.slug}}
                    </td>
                    <td data-title="'Descripción'" sortable="'description'">
                        {{role.description}}
                    </td>
                    <td data-title="'Nivel'" sortable="'level'">
                        <label ng-if="role.level == 1" class="label label-success"> SysAdmin</label>
                        <label ng-if="role.level == 2" class="label label-info"> Bussines</label>
                        <label ng-if="role.level == 3" class="label label-blue"> Customer</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
